.info-data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.info-data td, .info-data th {
  border: 1px solid #ddd;
  padding: 8px;
}

.info-data tr:nth-child(even){background-color: #f2f2f2;}

.info-data tr:hover {background-color: #ddd;}

.info-data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.btmo {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btmos {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.btmos:hover {
  background-color: #4CAF50;
  color: white;
}
