.info-data {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.info-data td, .info-data th {
  border: 1px solid #ddd;
  padding: 8px;
}

.info-data tr:nth-child(even){background-color: #f2f2f2;}

.info-data tr:hover {background-color: #ddd;}

.info-data th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.btmo {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btmos {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.btmos:hover {
  background-color: #4CAF50;
  color: white;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 33%;
  border-radius: 5px;
  margin: 0 0 16px 16px;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transform: scale(1.02);
}

.card-title {
    color: #ffab40;
}

hr {
    background-color: #ffab40;
    height: 1.5px;
}

img {
  border-radius: 10px 10px;
  width: 100%;
  height: 240px;
}

.container {
    padding: 2px 16px;

}

body {
    background-color: #d8f6df;
}

.b-white {
    background-color: #fff;
}

.blog-info {
  background-color: #28a74514;
  padding: 3px;
}

.blog-link{
  color: rgb(4, 160, 241);
}

.box-s {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}