{% extends "base.html" %}

{% block body %}
<div class="container" style="margin-top:20px; margin-bottom:20px;">
	<div class="row">
		<div class="col-sm-7 article pt-4">
			{% if message %}
    			<p class=error><strong>Error:</strong> {{ message }}
  			{% endif %}
			<form action="" method="post" role="form">
				<div class="form-group">

					<label for="create_date">Create Date:</label>
					<input type="date" class="form-control" id="create_date" name="create_date" value="{{form.create_date.data}}">

					<label for="write_date">Write Date:</label>
					<input type="date" class="form-control" id="write_date" name="write_date">

					<label for="sequence">Sequence:</label>
					<input type="text" class="form-control" id="sequence" name="sequence" placeholder="Sequence.." value="{{form.sequence.data}}">

					<label for="passkey">Passkey:</label>
					<input type="text" class="form-control" id="passkey" name="passkey" placeholder="Passkey..">

					<label for="url">URL:</label>
					<input type="text" class="form-control" id="url" name="url" placeholder="URL..">

					<label for="title">Title:</label>
					<input type="text" class="form-control" id="title" name="title" placeholder="Title..">

					<div class="form-group">
						<label for="description">Description:</label>
						<textarea class="form-control" rows="5" id="description" name="description" placeholder="Description.."></textarea>
					</div>

					<div class="form-group">
						<label for="preview">Preview:</label>
						<textarea class="form-control" rows="5" id="preview" name="preview" placeholder="HTML Preview.."></textarea>
					</div>

					<div class="form-group">
						<label for="content">Content:</label>
						<textarea class="form-control" rows="5" id="content" name="content" placeholder="HTML Content.."></textarea>
					</div>

				</div>
				<button type="submit" class="btn btn-success">Submit</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}